@import 'tailwindcss';

@import 'tw-animate-css';

@import './fonts/stylesheet.css';

@custom-variant dark (&:is(.dark *));
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Matter;

  /* Colors */
  --color-isabelline-50: #ffffff;
  --color-isabelline-100: oklch(99.23% 0.003 49.06);
  --color-isabelline-200: oklch(99.23% 0.003 49.06);
  --color-isabelline-300: oklch(98.61% 0.003 67.83);
  --color-isabelline-400: oklch(98.61% 0.003 67.83);
  --color-isabelline-500: oklch(97.84% 0.006 59.73);
  --color-isabelline-600: oklch(83.7% 0.045 58.34);
  --color-isabelline-700: oklch(68.98% 0.091 57.58);
  --color-isabelline-800: oklch(52.82% 0.089 56.38);
  --color-isabelline-900: oklch(32.4% 0.049 56.16);
  --color-isabelline-950: oklch(22.28% 0.028 58.3);

  /* Primary */
  --color-primary-50: oklch(97.52% 0.012 29.99);
  --color-primary-100: oklch(94.38% 0.028 31.17);
  --color-primary-200: oklch(88.43% 0.06 29.88);
  --color-primary-300: oklch(82.92% 0.094 33.67);
  --color-primary-400: oklch(77.22% 0.135 36.16);
  --color-primary-500: oklch(72.07% 0.178 40.61);
  --color-primary-600: oklch(60.45% 0.174 43.69);
  --color-primary-700: oklch(48.93% 0.141 43.64);
  --color-primary-800: oklch(37.19% 0.107 43.78);
  --color-primary-900: oklch(25.73% 0.074 43.35);
  --color-primary-950: oklch(20.4% 0.06 43.49);
  --color-primary: var(--color-primary-500);

  --color-hokersgreen-50: oklch(95.13% 0.009 171.58);
  --color-hokersgreen-100: oklch(91.1% 0.019 167.79);
  --color-hokersgreen-200: oklch(81.17% 0.039 168.78);
  --color-hokersgreen-300: oklch(72.06% 0.058 168.26);
  --color-hokersgreen-400: oklch(62.08% 0.069 166.25);
  --color-hokersgreen-500: oklch(48.95% 0.052 167.03);
  --color-hokersgreen-600: oklch(42.03% 0.044 166.79);
  --color-hokersgreen-700: oklch(34.44% 0.035 166.35);
  --color-hokersgreen-800: oklch(26.44% 0.024 169.03);
  --color-hokersgreen-900: oklch(19.09% 0.013 169.82);
  --color-hokersgreen-950: oklch(13.52% 0.006 174.64);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-white);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-background text-foreground text-sm selection:bg-primary-100 selection:text-primary-950;
  }

  input {
    &::-ms-reveal,
    &::-ms-clear {
      @apply hidden;
    }
  }

  .sv-page {
    @apply pt-10;

    h1 {
      @apply text-4xl font-bold mb-4;
    }

    h2 {
      @apply text-xl font-extrabold mb-2;
    }

    h3 {
      @apply text-base font-medium;
    }

    p {
      @apply my-3;
    }

    hr {
      @apply my-5 h-px appearance-none w-full block border-zinc-200/30;
    }

    a {
      @apply underline underline-offset-2;
    }

    ul {
      @apply list-[lower-alpha] ps-10 py-2;
    }
  }
}

@utility bg-button-primary {
  @apply bg-[linear-gradient(180deg,_var(--color-primary-300)_0%,_var(--color-primary-400)_66%,_var(--color-primary-500)_100%)];
}

@utility bg-button-destructive {
  @apply bg-[linear-gradient(180deg,_var(--color-red-400)_0%,_var(--color-red-500)_66%,_var(--color-red-600)_100%)];
}
